
body {
  position: absolute;
}
#header-section {
  float: left;
  position: relative;
  #logo-text {
    float: left;
    padding: 2em;
    font-family: 'Montserrat';
  }
}

#title-section {
  position: relative;
  padding-left: 42em;
  padding-top: 7em;
  .title-container {
    cursor: text;
    // text-align: center;
    // padding-left: 100em;
  }
  #title-text {
    position: relative;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    font-weight: bolder;
    font-family: 'Open Sans';
    font-size: 2em;
    .title {
      cursor: inherit;
    }
  }
}